<header>
<div class="avatar">
  <figure>
    <img src="./app/img/me.jpg" alt="" />
  </figure>
</div>
<div class="app">
  {{appname}}
</div>
<div class="menu">
  <i class="ion-ios-arrow-forward"></i>
</div>
</header>
